# 2024-01-01T00:00:00+00:00
Flask
GitPython
Inject
Jinja2
Pillow
PyGithub
PyJWT
PyYAML
Pympler
SQLAlchemy
Werkzeug
aiocron
aiofiles
aiohttp
ansi2html
appdirs
astor
aws-lambda-typing
azure-devops
beanie
black
boto3
cachetools
certifi
compose-chart-export
confluent-kafka
coverage
cryptography
dash
dash-ace
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
datefinder
dnspython
docker
docker-compose
docker-compose-parser
elasticsearch
eliot-tree
fastapi
fastui
gitlint
grafana-api
grafanalib
grpcio
grpcio-tools
gspread
gunicorn
httpx
humanize
influxdb-client
influxdb3-python
itsdangerous
jc
jira
junit2html
junitparser
linkify-it-py
logmatic-python
lxml
mangum
markdown-it-py
matplotlib
model-lib
motor
msrest
mypy
mypy-boto3-ce
mypy-boto3-cloudwatch
mypy-boto3-dynamodb
mypy-boto3-ec2
mypy-boto3-events
mypy-boto3-kms
mypy-boto3-s3
mypy-boto3-secretsmanager
mypy-boto3-ssm
numpy
opencv-python-headless
openpyxl
orjson
oyaml
paho-mqtt
pandas
paramiko
pika
pip-tools
plotly
protobuf
psycopg2-binary
pyarrow
pydantic
pydantic-settings
pydantic_core
pygments
pygrok
pyhcl
pymongo
pytest
pytest-asyncio
pytest-cov
pytest-freezegun
pytest-html
pytest-icdiff
pytest-regressions
pytest-subtests
python-can
python-decouple
python-dotenv
python-gitlab
python-multipart
python-semantic-release
requests
rich
ruff
rx
seaborn
selenium
selenium-wire
semver
setuptools
skyfield
slack-sdk
starlette
stream-manager
stringcase
tabulate
tenacity
tomlkit
twine
typing_extensions
uvicorn
uvloop
xdoctest
yarl
zero-3rdparty